	 <div>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div>
        {{ form_label(form.city) }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city) }}
    </div>

    <div id="university">
        {{ form_label(form.university) }}
        {{ form_widget(form.university) }}
        {{ form_errors(form.university) }}
    </div>

     <div>
        {{ form_label(form.courses) }}
        {{ form_errors(form.courses) }}
        {{ form_widget(form.courses) }}
    </div>

    <hr>
<div class="grades" data-prototype="{{ form_widget(form.grades.vars.prototype)|e('html_attr') }}">
    {# iterate over each existing tag and render its only field: name #}
    {% for grade in form.grades %}
        <div class="grade_row">
        <div>{{ form_row(grade.grade) }}</div>
        <div>{{ form_row(grade.course) }}</div>
        </div>
    {% endfor %}
</div>

